<h1>New Document</h1>

<%= simple_form_for @document do |form| %>
  <div>
    <%= form.input :title %>
  </div>

  <div class="content-editor">
    <label for="document_content" aria-label="Document Content" aria-hidden="true"/>
    <%= form.input :content, label: false, required: true %>
  </div>

  <div>
    <%= form.submit "Create Document" %>
  </div>
<% end %>
