/* trix wysiwyg editor */
@import "trix";
trix-editor, .trix-content {
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 0;
  padding: 0.4em 0.6em;
  min-height: 5em;
  outline: none;
  background: #fff;
  padding: 2rem 4rem;
}

.trix-content {
  box-shadow: -0.4rem 0.4rem 2rem rgba(0, 0, 0, 0.1);
}
.trix-content .attachment__name,
.trix-content .attachment__size {
  display: none;
}
trix-editor pre, .trix-content pre {
  background: #eee;
  padding: 1rem;
}

trix-toolbar .trix-button {
  background: #ffffff;
}
trix-toolbar .trix-button:hover {
  background: #cbeefa;
}

/* typeography */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* containers / layout */
html, body {
  height: 100%;
}
.application-content {
  background-color: #f3f3f3;
  min-height: 100%;
}
.content-container {
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 2.5rem 0;
  min-height: 100%;
}

/* flexbox */
.flex { display: flex; }
.flex-1 { flex: 1 }
.flex-2 { flex: 2 }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.items-center { align-items: center; }

/* colors */

.white { color: #ffffff; }
.light-blue { color: #cbeefa; }
.dark-blue { color: #2c3445; }

.bg-white { background: #ffffff; }
.bg-light-blue { background: #cbeefa; }
.bg-dark-blue { background: #2c3445; }

/* navigation */
.navigation {
  background: #2c3445;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #efefef;
  padding: 0 1rem;
  box-shadow: 1px 0 2px rgba(121, 121, 121, 0.5);
  margin-bottom: 1px;
}
.navigation a {
  text-decoration: none;
  margin: 0 .25rem;
}
.navigation a:hover,
.navigation a:focus {
  color: #cbeefa;
}

.navigation a.link-button {
  background: #ffffff;
  color: #295bad;
  padding: 0.25rem .5rem;
  text-align: center;
  display: inline-block;
  font-size: 0.875rem;
  border-radius: 3px;
}
.navigation a.link-button:hover {
  background: #cbeefa;
  color: #295bad;
}

/* flash messages */
.flash {
  margin: 0;
  padding: 0;
  text-align: center;
}

.flash-info {
  background: #f8ffff;
  color: #4a8599;
  border: solid 1px #dfb4b4;
  padding: 0.5rem;
}
.flash-info .title {
  color: #0e566c;
  margin-bottom: 0.25rem;
}

.flash-success {
  background: #fcfff5;
  color: #4e7e4c;
  border: solid 1px #a3c193;
  padding: 0.5rem;
}
.flash-success .title {
  color: #4e7e4c;
  margin-bottom: 0.25rem;
}

.flash-warning {
  background: #fffaf3;
  color: #573a08;
  border: solid 1px #c9ba9a;
  padding: 0.5rem;
}
.flash-warning .title {
  color: #794b03;
  margin-bottom: 0.25rem;
}

.flash-error {
  background: #fff6f6;
  color: #af5b58;
  border: solid 1px #dfb4b4;
  padding: 0.5rem;
}
.flash-error .title {
  color: #912d2b;
  margin-bottom: 0.25rem;
}


/* forms */
.form-input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: solid 1px #ededed;
  box-sizing: border-box;
}

/* users */
.user-menu-links li {
  display: inline-block;
  list-style: none;
  margin: 0 .25rem;
}


/* documents */
